#pagPaal, #pagAcierto, #pagFallo,#pagNivel,#pagFin{
	display: none;
	max-width: 650px;
	margin: 0 auto;
	position: relative;
}

body{
    background-image: url(../images/fondoNombres.png);
}

#pagAcierto img, #pagFallo img{
	display: block;
	width: 80%;
	margin: 20px auto 0;
	max-width: 300px;
}

.btnStart{
	display: block;
	width: 70%;
	min-width: 250px;
	margin: 15px auto;
	padding: 10px 0;
	text-align: center;
	font-size: 20px;
	border: 3px outset #8b4513;
	background: yellow;
	background-image: url(../images/fondoBotones.png);
	color: black;
	text-decoration: none;
}

h1{
    text-align: center;
	margin-top: 30px;
}

#contRecursos{
	display: none;
}

#reiniciarEsto{
    float: right;
    margin-right: 20px;
}

p{
    text-align: center;
}

#contPuntuacion{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
}

#contPuntuacion p{
    display: inline-block;
    margin: 5px 10px 5px 0;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    float:right;
    background-image: url(../images/fondoBotones.png);
    border: 3px outset #8b4513;
}

#contAnimales{
    position: fixed;
    top: 55px;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}

.encabezado{
    display: block;
    width: 100%;
    padding-top: 20px;
}

.encabezado img{
	display: block;
	width: 100px;
	height: 100px;
	margin: 10px auto 0;
}

.item div{
	display: inline-block;
	background-image: url(../images/fondoBotones.png);
	border: 3px outset #8b4513;
	text-align: center;
	padding: 5px 5px;
	font-size: 18px;	
}

.nombre4 div{
	margin: 10px;
}

.nombre5 div{
	margin: 5px;
}


#botonAtras{
    display: inline-block;
    float:left;
    background-image: url(../images/fondoBotones.png);
    border: 3px outset #8b4513;
    margin: 5px 0 5px 10px;
}

#botonAtras img{
    width: 40px;
}

@media (orientation: landscape){
	.encabezado img{
		display: block;
		float: left;
		width: 100px;
		margin: 10px;
	}
}